<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<dl>
		<dt><%= f.label :name %></dt>
		<dd><%= f.text_field :name %></dd>
		
		<dt><%= f.label :email %></dt>
		<dd><%= f.text_field :email %></dd>
		
		<dt><%= f.label :password %></dt>
		<dd><%= f.text_field :password %></dd>
		
		<dt><%= f.label :password_confirmation %></dt>
		<dd><%= f.text_field :password_confirmation %></dd>

		<dt><%= f.label :phone %></dt>
		<dd><%= f.text_field :phone %></dd>

		<dt><%= f.label :street %></dt>
		<dd><%= f.text_field :street %></dd>

		<dt><%= f.label :suburb %></dt>
		<dd><%= f.text_field :suburb %></dd>

		<dt><%= f.label :postcode %></dt>
		<dd><%= f.text_field :postcode %></dd>

		<dt><%= f.label :registries, "Invited to" %></dt>
		<dd><% for registry in Registry.all %>
		<%= check_box_tag "user[registry_ids][]", registry.id, @user.registries.include?(registry), :id => "user_registry_ids_#{registry.id}" %>
		<label for="user_registry_ids_<%= registry.id %>"><%= registry.title %></label>
		<% end %><dd>

		<dt><%= f.label :roles %></dt>
		<dd><% for role in Role.all %>
		<%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role), :id => "user_role_ids_#{role.id}" %>
		<label for="user_role_ids_<%= role.id %>"><%= role.name %></label>
		<% end %></dd>
	</dl>
		
	<div class="actions">
	  <%= f.submit %>
	</div>
<% end %>
