<%= render :partial => "shared/adminmenu" %>

<h1>Guests<% if permitted_to? :new, :users %> <span class="new"><%= link_to 'New Guest', new_user_path %></span><% end %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Login Link</th>
    <th colspan="2">Actions</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= root_url + user.key %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
