<h1>Pledge your contribution towards <small>"<%= @gift.title %>"</small></h1>

<p>Please remember to bring your present with you on the day as we aren't able to take payments online.<br />If you pledge the entire amount of a gift, it will be marked as <em>reserved</em>.</p>

<%= form_for(@contribution, :url => celebration_gift_contribution_path(@registry, @gift)) do |f| %>
	<% if @contribution.errors.any? %>
	  <div id="error_explanation">
	    <h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

	    <ul>
	    <% @contribution.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

	<dl>
		<dt><%= f.label :amount %><span class="tip"><% if @gift.quantity > 1 && @gift.contribution_quantity_remaining.to_i > 0 %><%= @gift.contribution_quantity_remaining.to_i %> available at <%= number_to_currency(@gift.price) %> each. <% elsif @gift.contribution_remaining.to_i > 0 %><%= number_to_currency(@gift.contribution_remaining) %> remaining. <% end %>You can change this at any time.</span></dt>
		<% if @gift.quantity > 1 && false %>
		<dd><%= select :contribution, :amount, options_for_contribution_amount(@gift, @contribution) %></dd>
		<% else %>
		<dd><%= f.text_field :amount, { :value => number_to_currency(@contribution.amount) } %></dd>
		<% end %>
	</dt>
	
	<div class="actions">
	    <%= f.submit "Submit Contribution" %>
	  </div>
<% end %>