<%= render :partial => "registries/submenu" %>

<h1><% if !@registry.nil? then %><%= @registry.title %> <% end %>Gift Registry</h1>

<div id="gift-registry">

<% @gifts.each do |gift| %>
	<div id="gift-<%= gift.id %>" class="gift">
    	<h2><%= gift.title %></h2>
	    <div class="description"><%= gift.description %></div>
	    <div class="store"><%= gift.store %></div>
	    <div class="colour"><%= gift.colour %></div>
	    <div class="quantity"><%= gift.quantity %></div>
	    <div class="price"><%= gift.price %></div>
	</div>
<% end %>

</div>