<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<dl>
    	<dt><%= f.label :title %></dt>
    	<dd><%= f.text_field :title %></dd>
	
    	<dt><%= f.label :content %></dt>
    	<dd><%= f.text_area :content %></dd>

		<dt><%= f.label :permalink %></dt>
    	<dd><%= f.text_field :permalink %></dd>
	</dl>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
