<%= render :partial => "shared/adminmenu" if permitted_to? :index, :users %>

<h1>Listing Celebrations<% if permitted_to? :new, :registries %> <span class="new"><%= link_to 'New Celebration', new_celebration_path %></span><% end %></h1>

<table>
  <tr>
    <th>Title</th>
    <th>When</th>
    <th>Address</th>
    <th colspan="2">Actions</th>
  </tr>

<% @registries.each do |registry| %>
  <tr>
    <td><%= registry.title %></td>
	<td><%= l registry.when, :format => :short %></td>
    <td><%= registry.address %></td>
    <td><%= link_to 'Edit', edit_celebration_path(registry) %></td>
    <td><%= link_to 'Destroy', celebration_path(registry), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>