<%= render :partial => "shared/submenu" %>

<div id="registry" class="registry <%= @registry.title.downcase %>">
	<div id="registry-introduction">
		<h1><%= @registry.title %> - <small><%= l @registry.when, :format => :short %></small></h1>

	</div>
	
	<div id="registry-details">
		<h1>Will you be joining us?</h1>
		
		<%= render :partial => "rsvp" %>
	</div>
</div>