<%= render :partial => "shared/submenu" %>

<div id="registry" class="registry <%= @registry.title.downcase %>">
	<div id="registry-introduction">
		<h1><%= @registry.title %> - <small><%= l @registry.when, :format => :short %></small><% if permitted_to? :edit, :celebrations %> <span class="edit"><%= link_to 'Edit', edit_celebration_path(@registry) %></span><% end %></h1>
		
		<% if !@registry.details.blank? %>
		<div id="details">
			<%= simple_format(@registry.details) %>
		</div>
		<% end %>

		<div id="registry-location">
			<% if !@registry.address.blank? %>
			<div class="address">
				<h2>This celebration will be held at:</h2>
				<address><%= simple_format(@registry.address) %></address>
			</div>
			<% end %>
			
			<% if !@registry.map_photo_url.to_s.blank? %>
			<div class="map">
				<% if !@registry.map_url.blank? %>
				<%= link_to(image_tag(@registry.map_photo_url.to_s), @registry.map_url, :target => "_blank")%>
				<% else %>
				<%= image_tag(@registry.map_photo_url.to_s) %>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
	
	<div id="registry-details">
		<h1>Will you be joining us?</h1>
		
		<%= render :partial => "rsvp" %>
		
		<% if !@registry.photo_url.to_s.blank? %>
		<div class="photo">
			<%= image_tag(@registry.photo_url(:fourtwenty).to_s) %>
		</div>
		<% end %>
	</div>
</div>