<%= render :partial => "shared/adminmenu" if permitted_to? :index, :contributions %>

<h1>Listing RSVPs<% if permitted_to? :new, :rsvps %> <span class="new"><%= link_to 'New RSVP', new_rsvp_path %></span><% end %></h1>

<h2><%= @rsvps.first.registry.title %> <small>(<%= @rsvps.first.registry.people_attending %>)</small></h2>
<table>
  <tr>
    <th>Guest</th>
    <th>Attending</th>
    <th>Number of guests</th>
	<% if @rsvps.first.registry.show_dietary_requirements %>
    <th>Dietary requirements</th>
	<% end %>
    <th></th>
    <th></th>
  </tr>

<% reg = @rsvps.first.registry.permalink %>
<% @rsvps.each do |rsvp| %>
	<% if reg.to_s != rsvp.registry.permalink.to_s %>
  </tr>
</table>
<h2><%= rsvp.registry.title %> <small>(<%= rsvp.registry.people_attending %>)</small></h2>
<table>
  <tr>
    <th>Guest</th>
    <th>Attending</th>
    <th>Number of guests</th>
	<% if rsvp.registry.show_dietary_requirements %>
    <th>Dietary requirements</th>
	<% end %>
    <th></th>
    <th></th>
  </tr>
	<% reg = rsvp.registry.permalink %>
	<% end %>
  <tr>
    <td><%= rsvp.user.name %></td>
    <td><% if rsvp.attending %>Yes<% elsif rsvp.number_of_guests.nil? %>-<% else %>No<% end %></td>
    <td><%= rsvp.number_of_guests %></td>
	<% if rsvp.registry.show_dietary_requirements %>
    <td><%= rsvp.dietary_requirements %></td>
	<% end %>
    <td><%= link_to 'Edit', edit_rsvp_path(rsvp) %></td>
    <td><%= link_to 'Destroy', url_for(:controller => :rsvps, :action => :destroy, :id => rsvp.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if !@absentees.nil? && @absentees.count > 0 %>
<h2>Guests who have not RSVP'd <small>(<%= @absentees.count %>)</small></h2>
<table>
  <tr>
    <th>Guest</th>
    <th>Email</th>
	<th>Login URL</th>
  </tr>
	<% @absentees.each do |user| %>
	<tr>
	  <td><%= user.name %></td>
	  <td><%= user.email %></td>
	  <td><%= link_to user.key, root_url + user.key %></td>
	</tr>
	<% end %>
</table>
<% end %>