
<div id="login-form">
	<h1>Login</h1>

	<%= form_for @user_session, :as => :user_session, :url => user_session_path do |f| %>
		<% if @user_session.errors.any? %>
		    <div id="error_explanation">
		      <h2>There was an error logging you in:</h2>

		      <ul>
		      <% @user_session.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
	
		<dl>
			<dt><%= f.label :email, "Email" %></dt>
			<dd><%= f.text_field :email %></dd>
			
			<dt><%= f.label :password %></dt>
			<dd><%= f.password_field :password %></dd>

			<dd><%= f.check_box :remember_me %> <%= f.label :remember_me %></dd>
		</dl>
		
		<div class="actions">
			<%= f.submit "Login", :class => 'login' %>
		</div>
	<% end %>
</div>