<!DOCTYPE html>
<html>
<head>
  	<title>James &amp; Tiana</title>
  	<%= stylesheet_link_tag :all %>
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body id="<%= controller.controller_name %>-<%= controller.action_name %>" class="<%= controller.controller_name %> <%= controller.action_name %>">
	<div id="page">
		<div id="masthead">
			<div id="logo"><%= image_tag "logo.png", :alt => "James &amp; Tiana", :border => 0, :width => 250, :height => 141 %></div>
			<div id="mainmenu">
				<div id="menu-engagement"><%= link_to "<span class=\"title\">The Engagement</span><span class=\"date\">September 24</span>".html_safe, "#" %></div>
				<div id="menu-wedding"><%= link_to "<span class=\"title\">The Wedding</span><span class=\"date\">January 6</span>".html_safe, "#" %></div>
			</div>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
