<!DOCTYPE html>
<html>
<head>
  	<title>James &amp; Tiana</title>
  	<%= stylesheet_link_tag :all %>
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
	<%= yield :head %>
</head>
<body id="<%= controller.controller_name %>-<%= controller.action_name %>" class="<%= controller.controller_name %> <%= controller.action_name %>">
	<div id="page">
		<div id="masthead">
			<div id="logo"><%= image_tag "logo.png", :alt => "James &amp; Tiana", :border => 0, :width => 417, :height => 190 %></div>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
	</div>
</body>
</html>
