<!DOCTYPE html>
<html>
<head>
  	<title>James &amp; Tiana</title>
  	<%= stylesheet_link_tag :all %>
  	<%= javascript_include_tag :defaults %>
  	<%= csrf_meta_tag %>
	<%= yield :head %>
	<link rel="icon" type="image/png" href="<%= image_path("favicon.png") %>">
	<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700&amp;v2' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=width=device-width, user-scalable=no" />
</head>
<body id="<%= controller.controller_name %>-<%= controller.action_name %>" class="<%= controller.controller_name %> <%= controller.action_name %><%= " hascontent" if is_registry? %>">
	<div id="page">
		<div id="masthead">
			<div id="logo"><%= link_to(image_tag("logo.png", :alt => "James &amp; Tiana", :border => 0, :width => 250, :height => 141), root_url) %></div>
			<div id="mainmenu">
				<% if public? %>
					<%= mainmenu %>
				<% end %>
			</div>
			<% if display_home? %>
			<div id="home-btn">
				<%= link_to("&laquo; Home".html_safe, root_url) %>
			</div>
			<% end %>
		</div>
		
		<div id="content">
			<%= yield %>
		</div>
		
		<div id="footer">
			<p><%= image_tag("ecclesiastes.4.12.png", :alt => "A cord of three strands is not quickly broken. - Ecclesiastes 4:12") %></p>
		</div>
	</div>
</body>
</html>
